# Git ignored files

### venv (virtual environment) ###
venv/

### build ###
opencv/
make_opencv/
CV-camera-finder/

### Don't you push images to git ! ###
*.jpg
*.png
*.jpeg
*.gif

### Json files ###
*.json

### .DS_Store ###
.DS_Store

### .idea ###
.idea/

