# Git ignored files

### venv (virtual environment) ###
venv/

### build ###
opencv/
make_opencv/
CV-camera-finder/

### Don't you push images to git ! ### Well actually you can for testing purposes
#*.jpg
#*.png
#*.jpeg
#*.gif

### Json files ###
*.json

### .DS_Store ###
.DS_Store

### .idea ###
.idea/

